{
  "extends": ["airbnb", "airbnb-babel"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "globals" : {
    "YT": true,
    "YoutubeScriptLoaded": true
  },
  "rules": {
    "default-case": "off"
  }
}