$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$almost-black: #111111;
$black       : #000000;

// We use these as default colors throughout
$primary-color: #1abc9c; /*#010a17; /* #098A85;*/
$primary-light-color:#48c9b0;
$navy:#2f4043;
$navy-light:#2B474C;


$secondary-color: #e7e7e7;
$alert-color: #C00000;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$primary-white: $silver;

$yellow:#FFDE00;

$banner-bg:#F5F6F7;

$header-dark-color:#2c3e50;
$text-color:#7f8c8d;
$primary-text-color:$text-color;

$dark-bg-color:$navy;

$menu-dark-bg:#202325;


$gray-bg-strip:#575757;